* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}
p {
  font-size: 50px;
}
.container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.container .column1 {
  flex-grow: 2;
  background-color: #026ec6;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .column2 {
  flex-grow: 1;
  background-color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  position: relative;
  text-align: center;
  color: white;
}

.image img {
  max-width: 100%;
  height: auto;
  display: flex;
}

.dial {
  height: 360px;
  width: 300px;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 10px;
  text-align: center;
}

.home {
  flex-basis: 10%;
  flex-direction: column;
  position: fixed;
  padding-left: 135px;
}
#main {
  flex-basis: 80%;
  margin-top: 80px;
  margin-bottom: 130px;
  align-items: center;
}
.day {
  font-weight: 700;
  font-size: 20px;
}
.dialTime {
  font-size: 50px;
  font-weight: 700;
  position: relative;
  color: white;
}

.bottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  position: fixed;
  padding-left: 50px;
}

nav {
  display: flex;
  gap: 60px;
}
nav i {
  font-size: 30px;
}

#stopwatch {
  height: 230px;
  width: 240px;
  position: absolute;
  left: 65%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 10px;
  text-align: center;
  margin-bottom: 40px;
  justify-content: center;
  /* margin-left: ; */
}
.timer {
  padding-left: 15px;
}
#count {
    padding-right: 20px;
  font-size: 24px;
}
